{% extends 'pages/base.html' %}

{% block content %}
    <div class="container">
        <div class = "container my-4 text-center gap-1">
            <h1>So many books!!</h1>
        </div>
        <div class="container text-center">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for product in products %}
                <div class="col-md-4">
                    <div class="card h-100 text-bg-info border border-primary-subtle rounded-3">
                        <h5 class = "card-header">{{product.name}}</h5>
                        <div class="card-body">
                            <p>{{product.description|truncatewords:20}}</p>
                            <a href="{%url 'pages:book_detail' product.id%}" class="btn btn-primary stretched-link">Read it!</a>
                        </div>
                        <div class="card-footer">Stock: {{product.stock}} Price: {{product.price}}</div>
                    </div>
                </div>
                {% empty %}
                <p>or maybe not... There are no books!</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}