{% extends 'pages/base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <div class="container">
        <div class = "container text-center gap-1">
            <h1>{{welcome_text}}</h1>
            <p>
                This here is a <strong>GRAND PAGE</strong> of (to be) many a-book and many a-fun!<br/>
            </p>
            <p>
                This page is made as part of the MPGU task in Web and Databases.
                For the time being I'll be going with a <i>Book Exchange Website</i> idea, but it might change in the future.
                This page is to be used as a base for any future ideas I might have. Maybe it will become something Touhou-related
                you never know with these things!
            </p>
            <button type="button" class="btn btn-primary btn-lg">Now go and start!</button>
            <button type="button" class="btn btn-primary btn-lg">Now go and buy!</button>
            <button type="button" class="btn btn-primary btn-lg">Now go and read!</button>
        </div>
        <div class="container my-4">
            <div class="row">
                {% for card in cards%}
                <div class="col">
                    <div class="card">
                        <img src="{{card.image_source}}" class="card-img-top img-thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">{{card.title}}</h5>
                            <p>{{card.description}}</p>
                            <button type="button" class="btn btn-primary">{{card.button}}</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}